/* Base Styles */
body, .App {
  font-family: Lato;
  text-align: center;
  margin: 0;
  background: linear-gradient(to right, #4abe82,#ee3890);
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(251, 248, 248);
}

/* Typography */
h1, h2 {
  font-family: Lato /*'Snap ITC',sans-serif*/;
  font-weight: bold;
  font-style: normal;
}
h1{
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 1px;
  color: rgb(22, 22, 23);  
}
h2 {
  font-size: 1.8vw;
  margin-top: 15px;
  margin-bottom: 1px;
  color: rgb(13, 13, 13);  
}

p {
  font-size: 20px;
  color: rgb(3, 3, 3);  
}

.footer {
  margin-top: auto;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;  
  font-weight: normal;
  font-style: normal;
}
/* Form Styles  */
.form-container {
  max-width: 500px;
  width:100px;
  margin:0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Form Fields */
.form-control {
  width: 100%;
  padding: 5px;
  margin: 1px;
  font-size:1.3vw;
  margin-top: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
  flex: 1; /* each child takes up equal space */
  margin: 5 20px; /* space between each child */
}
.form-row{
  display: flex;
  gap: 2px;
  margin-bottom: 1px;
  flex:1;
  justify-content: space-between; /* spaces out the children evenly */
  align-items: center; /* vertically aligns children in the center */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 1px;
  font-weight:600;
  font-family: lato;
  font-size:1.3vw;
  margin-top: 5px;
}

.form-group select,
.form-group input[type="checkbox"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  transition: border-color 0.3s;
}

.form-group select:hover,
.form-group input[type="checkbox"]:hover {
  border-color: #888;
}

/* Custom checkbox */
.checkbox-custom {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  color: #333; 
}

.checkbox-custom input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fafafa; /* Checkbox background */
  margin-top: 15px;
  font-size: 30px; /* size of the checkbox */
  width: 1em; /* Set a size for the checkbox */
  height: 1em;
  border: 3px solid #d1d1d1; /* Border color */
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-custom input[type="checkbox"]:checked {
  background-color: #72d7dd; /* Checked state color */
  border-color: #e8bbeb;
}

.checkbox-custom input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 65%;
  height: 35%;
  border-bottom: 3px solid #070707; /* Checkmark color */
  border-left: 3px solid #080808; /* Checkmark color */
}

.checkbox-custom label {
  margin-left: 10px; /* Space between checkbox and label */
  cursor: pointer;
}

/* Adjust the checkbox on smaller screens */
@media (max-width: 768px) {
  .checkbox-custom input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
  }
}
.option {
  font-family: lato;
  font-size: 1.3vw;
}
.form-control:focus {
  border-color: #030303;
  outline: none;
}

/* Feedback/Error Messages */
.error-message {
  color: rgb(69, 24, 24);
  margin-top: 5px;
}

/* Buttons Styles */
.btn , button{
  border: none;
  font-family: Lato;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight:600;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #b092bd; 
  transition-duration: 0.4s; /* Animation */
}

.btn:hover {
  background-color: #7ed7e3; 
  color: white;
}

/* Feedback Error Messages */
.error-message{
  color: rgb(69, 24, 24);
  margin-top:5px;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-links a, .navbar-links, .navbar-tex, .nav-item {
  margin-right: 10px;
  font-family: Lato;
  font-size:20px ; 
  color:black; 
}

.logout-button{
  margin-right:10px;
}

.welcome-message{
  margin-right:10px;
  color: black;
  font-family: Lato;
  font-size:20px ; 
}

.button-group{
  display:flex;
  gap: 10px;
}

/* Dashboard Page Styles */
.dashboard-page .progress-sections {
  display:flex;
  justify-content: space-between;
  gap: 10px;  /* Provides spacing between the sections */
}

.dashboard-page .activity-progress,
.dashboard-page .diet-progress,
.dashboard-page .body-metrics-progress {
  flex: 1;  /* Each section takes up equal width */
  padding: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: Adds a light shadow for visual depth */
  border-radius: 4px;
}
/* Misc Styles */
.App-link {
  color: #050505;
}

input::placeholder {
  color: #000000;
  font-size: 15px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 /* logo */
 .logo {
  width: 100px;
  height:auto;
 }
 .navbar .logo-container {
  display: flex;
  align-items: center;
}
.Message-Size-class {
font-size: 30px;
color:#010101;
background-color: #bae5ed;
}

/* Animation of BodyTracker */

.animated-message {
  animation: slideIn 5s ease forwards;
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes slideInAndOut {
  0% {
    transform: translateX(-100%); /* Start off-screen in the left */
    opacity: 0;
  }
  10% {
    transform: translateX(0); /* Move to center */
    opacity: 1;
  }
  90% {
    transform: translateX(0); /* Stay in center */
    opacity: 1;
  }
  100% {
    transform: translateX(100%); /* End off-screen to the right */
    opacity: 0;
  }
}

.editable-message {
  margin: auto;
  padding: 60px;
  border-radius: 100px;
  background-image: url('../public/BMIMessage.jpg');
  background-size: cover;
  background-position: center;
  width: 750px;
  height: 340px; 
  animation: slideInAndOut 17s ease-in-out forwards;
  position:center;
  font-family: Lato; 
  font-size: 16px; 
  color: #333;
}

.editable-message:hover {
  background-color: rgb(226, 226, 226);
}

.editable-input {
  border: none;
  background: none;
  font-size: inherit;
  width: 100%;
}
/* Animation of ActivityTracker ball*/
@keyframes throwBall {
  0% {
    left: 0;
    top: 0;
    transform: scale(0.5);
  }
  25% {
    left: 20%;
    top: 70%;
    transform: scale(0.6);
  }
  50% {
    left: 40%;
    top: 30%;
    transform: scale(0.7);
  }
  75% {
    left: 60%;
    top: 70%;
    transform: scale(0.9);
  }
  100% {
    left: 75%;
    top: 40%;
    transform: scale(1.2);
  }
}
.activity-tracker-message {
  margin: 0; /* Center */
  border-radius: 60%; /* make it a circle */
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 40px;
  height: 250px;
  width: 250px; 
  background-image: url('../public/ActMessage.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0 ;
  left:0;
  animation:  throwBall 1.5s cubic-bezier(.37,.67,.63,.67) forwards;
}
.activity-tracker-message p {
  font-family: Lato; 
  font-size: 20px;
  font-weight:600;
}
.activity-tracker-message button {
  margin-top: 15px; 
  margin-left: 20px;
  font-family: Lato;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight:600;
  cursor: pointer;
  background-color: #b8ca7200; 
}

/*Profile Page*/
.profile-page {
  max-width: 900px;
  margin: auto;
  padding: 10px;
  background: #92b9bd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile-page .form-group label {
  font-weight:500;
  font-family: lato;
  font-size:1.3vw;
  margin-top: 5px;
  margin-right: 500px; /* space between label and input */
  white-space: nowrap; /* Keep label on the same line */
  position:absolute;
  width: 25px;
}

.profile-page .form-group {
  display: absolute; /* Set form-group as a flex container */
  justify-content: start;
  align-items: center; /* Align items vertically */
  margin-bottom: 3px; /* Space between form groups */
}

.profile-page .form-group input,
.profile-page .form-group select,
.profile-page .form-group textarea {
  flex-grow: 1; /* Allows input to take up remaining space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 300px; /* space between label and input */
  margin-bottom: 3px; /* space between label and input */
  font-size:1.3vw;
  position: flex;
}
/* Adjustments for checkbox, it doesn't need to grow to use full width */
.profile-page .form-group .checkbox-group {
  justify-content: flex-start; /* Aligns checkbox to the start of the flex container */
  margin-left: 10px; /* Space between checkbox and label */
  cursor: pointer;
  background-color: #fafafa; /* Checkbox background */
  margin-bottom: 15px;
  font-size: 3px; /* size of the checkbox */
  border: 3px solid #d1d1d1; /* Border color */
  border-radius: 4px;
  position: flex;
}

/* Diet Page */
.diet-page .form-group {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 15px;
  padding: 10px;
  font-family: lato;
  font-size:1.3vw;
}