/* Base Styles */
body, .App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: linear-gradient(to right, #4abe82,#ee3890);
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(251, 248, 248);
}

/* Typography */
h1, h2 {
  font-family: /*'Snap ITC',*/ sans-serif;
  color: rgb(36, 36, 38);  
  font-weight: bold;
  font-style: normal;
}
h1{
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 1px;
}
h2 {
  font-size: 2vw;
  margin-top: 15px;
  margin-bottom: 1px;
}

.footer {
  margin-top: auto;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 20px;  
  font-weight: normal;
  font-style: normal;
}
/* Form Styles  */
.form-container {
  max-width: 500px;
  width:100px;
  margin:0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Form Fields */
.form-control {
  width: 100%;
  padding: 5px;
  margin: 1px;
  font-size:1.3vw;
  margin-top: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
  flex: 1; /* each child takes up equal space */
  margin: 5 20px; /* space between each child */
}
.form-row{
  display: flex;
  flex:1;
  justify-content: space-between; /* spaces out the children evenly */
  align-items: center; /* vertically aligns children in the center */
}
.form-label {
  font-size:1.3vw;
  font-weight: normal;
  margin-bottom: 1px;
  margin-top: 10px;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

/* Buttons Styles */
.btn, .button {
  padding: 10px 15px;
  margin:10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3; 
}

/* Feedback/Error Messages */
.error-message {
  color: rgb(69, 24, 24);
  margin-top: 5px;
}


.button {
  background-color: #1d1e1e; 
  border: none;
  border-radius: 4px;
  color: rgb(56, 127, 130);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s; /* Animation */
}

.button:hover {
  background-color: #151516; 
  color: white;
}

.button.primary {
  background-color: #34546d;
  color:#080708;
}

.btn-secondary {
  font-size: 15px;
  font-weight: bold;
  color:#080708;
  background-color: #5eadaf;
}

/* Feedback Error Messages */
.error-message{
  color: rgb(69, 24, 24);
  margin-top:5px;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-links {
 margin-right:30px
}

.navbar-links a {
  margin-right: 20px;
  font-size:20px ; 
  color:black; 
}

.button-group{
  display:flex;
  gap: 10px;
}

/* Dashboard Page Styles */
.dashboard-page .progress-sections {
  display:flex;
  justify-content: space-between;
  gap: 10px;  /* Provides spacing between the sections */
}

.dashboard-page .activity-progress,
.dashboard-page .diet-progress,
.dashboard-page .body-metrics-progress {
  flex: 1;  /* Each section takes up equal width */
  padding: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: Adds a light shadow for visual depth */
  border-radius: 4px;
}
/* Misc Styles */
.App-link {
  color: #317a8e;
}

input::placeholder {
  color: #000000;
  font-size: 15px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 /* logo */
 .logo {
  width: 100px;
  height:auto;
 }
 .navbar .logo-container {
  display: flex;
  align-items: center;
}
