/* Base Styles */
body, .App {
  font-family: Lato;
  text-align: center;
  margin: 0;
  background: linear-gradient(to right, #4abe82,#ee3890);
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(251, 248, 248);
}

/* Typography */
h1, h2 {
  font-family: Lato /*'Snap ITC',sans-serif*/;
  font-weight: bold;
  font-style: normal;
}
h1{
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 1px;
  color: rgb(22, 22, 23);  
}
h2 {
  font-size: 1.8vw;
  margin-top: 15px;
  margin-bottom: 1px;
  color: rgb(13, 13, 13);  
}

p {
  font-size: 20px;
  color: rgb(3, 3, 3);  
}

.footer {
  margin-top: auto;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;  
  font-weight: normal;
  font-style: normal;
}
/* Form Styles  */
.form-container {
  max-width: 500px;
  width:100px;
  margin:0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Form Fields */
.form-control {
  width: 100%;
  padding: 5px;
  margin: 1px;
  font-size:1.3vw;
  margin-top: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
  flex: 1; /* each child takes up equal space */
  margin: 5 20px; /* space between each child */
}
.form-row{
  display: flex;
  flex:1;
  justify-content: space-between; /* spaces out the children evenly */
  align-items: center; /* vertically aligns children in the center */
}
.form-label {
  font-size:1.3vw;
  font-weight: normal;
  margin-bottom: 1px;
  margin-top: 10px;
}

.form-control:focus {
  border-color: #030303;
  outline: none;
}

/* Feedback/Error Messages */
.error-message {
  color: rgb(69, 24, 24);
  margin-top: 5px;
}

/* Buttons Styles */
.btn , button{
  border: none;
  font-family: Lato;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight:600;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #b092bd; 
  transition-duration: 0.4s; /* Animation */
}

.btn:hover {
  background-color: #7ed7e3; 
  color: white;
}

/* Feedback Error Messages */
.error-message{
  color: rgb(69, 24, 24);
  margin-top:5px;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-links a, .navbar-links, .navbar-tex {
  margin-right: 10px;
  font-family: Lato;
  font-size:20px ; 
  color:black; 
}

.logout-button{
  margin-right:10px;
}

.welcome-message{
  margin-right:10px;
  color: black;
  font-family: Lato;
  font-size:20px ; 
}

.button-group{
  display:flex;
  gap: 10px;
}

/* Dashboard Page Styles */
.dashboard-page .progress-sections {
  display:flex;
  justify-content: space-between;
  gap: 10px;  /* Provides spacing between the sections */
}

.dashboard-page .activity-progress,
.dashboard-page .diet-progress,
.dashboard-page .body-metrics-progress {
  flex: 1;  /* Each section takes up equal width */
  padding: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: Adds a light shadow for visual depth */
  border-radius: 4px;
}
/* Misc Styles */
.App-link {
  color: #050505;
}

input::placeholder {
  color: #000000;
  font-size: 15px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 /* logo */
 .logo {
  width: 100px;
  height:auto;
 }
 .navbar .logo-container {
  display: flex;
  align-items: center;
}
.Message-Size-class {
font-size: 30px;
color:#010101;
background-color: #bae5ed;
}

/* Animation of BodyTracker */

.animated-message {
  animation: slideIn 5s ease forwards;
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes slideInAndOut {
  0% {
    transform: translateX(-100%); /* Start off-screen in the left */
    opacity: 0;
  }
  10% {
    transform: translateX(0); /* Move to center */
    opacity: 1;
  }
  90% {
    transform: translateX(0); /* Stay in center */
    opacity: 1;
  }
  100% {
    transform: translateX(100%); /* End off-screen to the right */
    opacity: 0;
  }
}

.editable-message {
  margin: auto;
  padding: 60px;
  border-radius: 100px;
  background-image: url('../public/BMIMessage.jpg');
  background-size: cover;
  background-position: center;
  width: 750px;
  height: 340px; 
  animation: slideInAndOut 17s ease-in-out forwards;
  position:center;
  font-family: Lato; 
  font-size: 16px; 
  color: #333;
}

.editable-message:hover {
  background-color: rgb(226, 226, 226);
}

.editable-input {
  border: none;
  background: none;
  font-size: inherit;
  width: 100%;
}
/* Animation of ActivityTracker ball*/
@keyframes throwBall {
  0% {
    left: 0;
    top: 0;
    transform: scale(0.5);
  }
  25% {
    left: 20%;
    top: 70%;
    transform: scale(0.6);
  }
  50% {
    left: 40%;
    top: 30%;
    transform: scale(0.7);
  }
  75% {
    left: 60%;
    top: 70%;
    transform: scale(0.9);
  }
  100% {
    left: 75%;
    top: 40%;
    transform: scale(1.2);
  }
}
.activity-tracker-message {
  margin: 0; /* Center */
  border-radius: 60%; /* make it a circle */
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 40px;
  height: 250px;
  width: 250px; 
  background-image: url('../public/ActMessage.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0 ;
  left:0;
  animation:  throwBall 1.5s cubic-bezier(.37,.67,.63,.67) forwards;
}
.activity-tracker-message p {
  font-family: Lato; 
  font-size: 20px;
  font-weight:600;
}
.activity-tracker-message button {
  margin-top: 15px; 
  margin-left: 20px;
  font-family: Lato;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight:600;
  cursor: pointer;
  background-color: #b8ca7200; 
}